*{
    margin: 0;
    padding: 0;   
}

.nav-link{
    color: rgb(126, 126, 126)!important;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px; 
}
.nav-link:hover{
    border-bottom: 2px solid rgba(248,184,34,255);
}

.logoEncabezado{
    width:auto;
    height: 70px;  
    padding: 3px;
}

.logoEncabezado2{
    width:auto;
    height: 50px;  
    padding: 3px;
}



.index-img{
    max-width: 100%;
    height: auto;
}

.logofoot{
    width: auto;
    height: 40px;
    padding: 5px;
}

.navbar-toggler{
    color: aliceblue;
}

.background{
    background-image: url(../assets/img/backgroundnirv.png.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container-fluid{
    background-color: black;
}

.textbio{
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
    margin-top: 100px;
    margin-bottom: 100px;
}

.imgbio{
    height: 300px;
    width: 550px;
    margin-top: 100px;
}


h6{
    color: rgb(126, 126, 126)!important;
    font-size: 14px;
}
.carousel-caption{
    margin-bottom:15%; 
}

h1{
    font-family: 'Bodoni Moda', serif;
    text-align:center;
    font-size: 5.5rem;
    color: rgba(248,184,34,255);
    text-shadow: 8px 8px 8px black;
}

.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    border: 0 !important;
} 

.flex-shrink-0{
    height: 70%;
    margin-top:100px ;
    
}
.table{
    color: white;
    margin-top:10%;
}

.mb-3{
    width: 30%!important;
}

@media (max-width:1573px) {
    .flex-shrink-0{
        height: 30%;
        margin-top:100px ;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
    }
    .logofoot{
    width: auto;
    height: 20px;
    padding: 5px;
}
h6{
    font-size: 7px;
}
.table-responsive{
        height: 50%;    
    }

}

@media (max-width:868px) {
    .flex-shrink-0{
        height: 20%;
        margin-top:100px ;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
    }

    .table-responsive{
        height: 50%;
        
    }

}